body {
    background-color:  black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 100;
    color: #fff;
    padding: 100px 0px;
}

form {
    display: inline-block;
}

shop {
    display: block;
    font-size: 1em;
    color: red;
    margin-top: 16px;
    margin-bottom: 16px;
}

moeda {
    display: block;
    color: #1c1;
    font-weight: bold;
}

input, textarea {
    padding: 10px 30px;
}

input[type=text], input[type=password] {
    width: 256px;
}

fieldset {
    width: 300px;
    padding: 80px;
    background-color: #xxx;
    border: 10px groove;
    border-color: #489e80;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    background-color: #b21111;
    border: 30px solid #b21111;
    border-collapse: separate;
}

td {
    background-color: white;
    text-align: center;
    padding: 40px 10px;
    width: 256px;
    vertical-align: bottom;
}

.navbar user {
    float: right;
    padding: 12px;
    color: #ff8;
    text-decoration: none;
    font-size: 17px;
    background-color: #000;
}

.navbar {
    width: 100%;
    left: 10%;
    border-radius: 100px;
    background-color: black;
    overflow: auto;
    top: 3%;
    position: absolute;
}

.navbar a {
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: black;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
    }
}

.pagbar {
    padding: 12px;
    background-color: #555;
}

.pagbar a {
    padding: px;
    color: #39d;
    text-decoration: none;
    font-size: 14px;
}

.pagbar current {
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.pagbar a:hover {
    background-color: #000;
}

.home-img {
    width: 260px;
}

/*----------------------------*/

.galo-site{
    img-align:left;
}

