{% extends 'layout.html' %}
{% block titulo %}
<title>Criar Nova Conta</title>
{% endblock %}

{% block conteudo %}
<html>
<head>
<style>


h3 {
    position: absolute;
    right: 5%;
    top: 400px;
    border: 10px solid red;
    background-color: red;
}

</style>
</head>
<body>
<h3>Se já tens conta entra no login</h3>
</body>
</html>


<h1>Criar nova Conta</h1>
<form method="post">
    <fieldset>
        <legend>Introduza os seus dados</legend>
        <h4>Utilizador</h4>
        <input type="text" name="usr" required>
        <p><br></p>
        <h4>Endereço de Email</h4>
        <input type="text" name="email" required>
        <p><br></p>
        <h4>Palavra-Passe</h4>
        <input type="password" name="pwd" required>
        <p><br></p>
        <h4>Confirme a Passe</h4>
        <input type="password" name="cpwd" required>
        <p><br></p>
        <input type="submit" value="Criar">
    </fieldset>
</form>
{% if erro %}<h4>{{ erro }}</h4>{% endif %}
{% endblock %}
